@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.background-image {
  background: linear-gradient(lightBlue, blue);
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--foreground);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
}

.formatting {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.fullscreen-image {
  width: 30vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.MuiButton-root.button-formatting {
  margin-top: 1rem;
  background-color: lightblue;
  color: blue;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
